html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  padding:2em 1em;
}

#main {
  max-width:1060px;
  margin:0 auto;
  z-index: 1;
}

.hero-img{
  opacity: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(50%);
}

#hero{
  position: relative;
}

.hero-text{
  position: absolute;
  top: 22%;
  left: 20%;
  font-size: 6em;
  color: white;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}

.hero-tagline{
  position: absolute;
  top: 37%;
  left: 27%;
  font-size: 4em;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;

}

.btn{
  background-color: #7c4dff
}
.btn:hover{
  background-color: #7c4dff
}
button:focus{
  background-color: #7c4dff
}

.hero{
 background: url("styles/assets/stickynotebackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

header {
  margin:0 0 2em 0;
}

.user-false .auth-check {
  display: none;
}

div.login {
  text-align:right;
}

form .pure-button:not(:first-of-type) {
  margin-left:1em;
}

form .pure-button:last-of-type {
  margin-left:1em;
}

input.postfix {
  margin-bottom:0.5em;
}

.pure-button.no-margin {
  margin-left:0 !important;
}

.rooms {
  margin-top:2em;
}

.room {
  margin:0 0 0.5em 0;
}

.room a {
  display:block;
  line-height:1.2em;
  padding:1em 0.3em 1em 1em;
  text-align:left;
  height:100%;
  background-color: #f2f2f2;
  text-decoration:none;
}

.room a:hover {
  background-color:#f2f2f2;
  text-decoration:underline;
}

.idea {
  margin-top:1.5em;
  border-bottom:1px solid #f2f2f2;
  padding-bottom:1.5em;
}

.controls {
  margin-bottom:1em;
}

.controls .pure-button {
  margin-right:0.5em;
  font-size:85%;
}

.watch {
  text-align:right;
}

h2 {
  margin-top:0;
}

.likes {
  margin-top:0.5em;
}

.likes .pure-button {
  font-size:75%;
}

.comments {
  margin-top:0.5em;
}

.comments > div > .pure-button {
  margin-left:0 !important;
}

.formComment {
  margin-top:2em;
}

.formComment .pure-button {

}

.formEditComment {
  font-size:85%;
}

@media screen and (min-width: 35.5em) {

  input.postfix {
    margin-bottom:0;
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .pure-button.no-margin {
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
}

/*For d3 chart*/
.toolbox{
    position: absolute;
    bottom: 100px;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border-color: transparent;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}
#legend{
    position: absolute;
    top: 150px;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.graph g:first-child circle {
  fill: rgb(170, 255, 133);
}

g.graph g:first-child tspan {
  font-weight: bold;
}

g.graph g:first-child circle:hover {
  fill: rgb(133, 255, 106);
}

g.conceptG circle{
    fill: rgb(249, 248, 191);
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(255, 253, 131);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}


.stickyNotes {
  overflow:hidden;
  padding:3em;
  display: inline;
}

.stickyNotes button{
  font-size:100%;
  font-weight:normal;
}

.ideaDescription {
  font-size:100%;
  font-weight:bold;
  padding-bottom:10px;
}

.stickyNotes .idea div, .stickyNotes .brainSwarm{
  font-family: Roboto, 'Reenie Beanie';
  font-size:100%;
}

.stickyNotes .idea .anchor{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.stickyNotes div.idea{
  margin:1em;
  float:left;
}

.stickyNotes .idea .anchor{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
    position:relative;
}

.stickyNotes .idea:nth-child(even) .anchor{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.stickyNotes .idea:nth-child(3n) .anchor{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

.stickyNotes .idea:nth-child(5n) .anchor{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.stickyNotes .idea .anchor:hover, .stickyNotes .idea .anchor:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.stickyNotes .idea .anchor{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.stickyNotes button{
  padding: 0;
  border: none;
  background: none;
}

.roomTitle a{
  text-align: right;
  padding: 0px;
  background: none;
}

.roomTitle h1 {
  display: inline;
}

.roomTitle .gray{
  color: #a9a9a9;
}

.container{
    width: 90%;
    height: 90%;
}

.trashcan{
  font-size: 100px;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 10px;

}

.idea-whiteboard{
    height: 900px;
    border: 23px double black;
    border-radius: 1.75em/.8em;
    padding: 1.5em;
    color: black;
    background-color: white;
    position: relative;
}

.expo-marker{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 150px;
  opacity: .75;
}

.room-anchor{
  /*cursor: url('assets/small.png'), url('http://www.homeroomteacher.com/Images/Products/Display/S_SBZ/SAN80001_L.jpg'), pointer;*/
  font-family: Comic Sans MS;
}

.room-whiteboard{

    border: 15px double black;
    border-radius: 1.75em/.8em;
    padding: 1.5em;
    color: black;
    background-color: white;
    position: relative;
}

.header-text{
  font-size: 22px;
}

